*{
	box-sizing: border-box;
}
body{
	background: $color;
	color:$color;
	font-family: $family;
	font-size:$fontsize;
}
.container{
	max-width: 1300px;
	margin: 0 auto;
}
.container_main{
	max-width: 1920px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	display: block;
	color: $color;
	cursor:pointer;
    transition: all 0.3s ease 0s;
}
img{
	display: block;
	max-width: 100%;
	height:auto;
}
.btn{
	background: $textread;
	border: none;
	outline: none;
	line-height: 40px;
	font-size: $fontsize_two;
	margin: 50px 0 20px;
	text-transform: uppercase;
	display:inline-block;
	padding: 0 75px;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
  &:hover{
    background-color: $colorhoverbtn;
    cursor:pointer;
    -webkit-box-shadow: 0 0 10px 3px rgba(120,40,138,4);
    -moz-box-shadow: 0 0 10px 3px rgba(120,40,138,4);
    box-shadow: 0 0 10px 3px rgba(120,40,138,4);
  }
}
h3{
	font-size: 60px;
	position: relative;
	padding-bottom: 30px;
	&:after{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 148px;
		height: 4px;
        background: linear-gradient(to right,#33cbcc 70%,#032c9e 80%,#6aff7f 2%);
	}
}
//Main Menu
header{
	text-align: center;
	font-family: $family;
	text-transform: uppercase;
	font-weight: 700;
	outline: none;
	.top_header{
		@include flexbox;
        @include justify-content(space-between);
        width: 100%;
		z-index: 10;
		position: absolute;
		padding: 50px 20px;
		vertical-align:middle;
		height:50px;
		.top_nav {
			position: relative;
			nav ul li{
				display: inline-block;
				margin-right: 5px;
				margin-left: 5px;
				padding: 0 10px;
				letter-spacing: 2px;
				position: relative;
				&:before{
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					background: $color;
					top: 50%;
					left: 0;
					display: none;
					animation: out 0.6s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
				}
			}
			nav ul li:hover:before{
				display: block;
				animation: out 0.6s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
			}
		}	
	}
  .logo{
    font-size: 24px;
    letter-spacing: 2.5px;
    vertical-align:middle;
    span{
      position: relative;
      text-align: center;
      background: $textread;
    }
  }

}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}


/*...................Slider....................*/

//Block Main Slider 
.your-class{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  z-index: 1;
  outline: none;
  .header_text{
    position: absolute;
    top:50%;
    left:50%;
    @include translate(-50%,-50%);
    z-index: 100;
    h1{
      max-width: 90%;
      margin: 0 auto;
      font-size: 60px;
      line-height: 80px;
    }
  }
  .header_text span{
    font-size: $fontsize_two;
    letter-spacing: 2.5px;
    line-height: 36px;
  }
  .item-sl {
    display: block;
    margin-right: 1px;
  }
  .item-sl img{
    position: relative;
    z-index:1;
    text-align: center;
  }

}
.sl-container{
  position: relative;
  overflow: hidden;
  &:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 250px solid $color;
    border-right: 120vmax solid transparent;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}
.slick-dots {
  position: absolute;
  right: 65px;
  width: 65px;
  top:45%;
  display:block;
  text-align: right;
  height: 40px;
  @include translate(0,-45%);
  bottom: inherit;
}
.slick-dots li strong {
  display: block;
  margin-right:60px;
  position:relative;
  top:8px;
  color:#9ca2ad;
}
.slick-dots strong{
  display: block;
  margin-right: 10px;
}
.slick-dots span{
  display: inline-block;
  width: 24px;
  height: 2px;
  background: #9ca2ad;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 50px 0;
  transition: all 0.3s ease 0s;
}
.slick-dots span:before,
.slick-dots li button::before{
  content: "";
}
.slick-dots .slick-active span{
  width: 45px;
  background: $color;
}
.slick-dots .slick-active strong{
  color:$color;
}
.slick-dots span:hover{
  width: 45px;
  background: $color;

}
//Block News
.news{
	text-align: center;
    position: relative;
    padding: 100px 0 20px;
    background: url(../img/bgnews.png) no-repeat 84% 8%;
    z-index: 1;
	.btn{
		margin-bottom:0;
	}
	.news_content{
		@include flexbox;
		@include justify-content(space-between);
		font-weight: 600;
		text-align: left;
		color: $textcolor;
		position: relative;
        padding-left: 10px;

		.news_info{
			padding: 150px 0 100px;
			img{
				margin-bottom: 40px;
			}
			h4{
				font-size: 36px;
				line-height: 72px;
			}
			strong{
				font-weight: 700;
				margin-right: 23px;
			}
			span{
				color: $textspan;
				background: #1b2550;
				letter-spacing: 2px;
				line-height: 38px;
				font-weight: 700;
				text-transform: uppercase;
			}
			p{
				font-family: $family_two;
				font-weight: 400;
				color: $textp;
				line-height: 30px;
				margin: 40px 0;
				max-width: 90%;
			}
			a{
				color: $textread;
				text-transform: uppercase;
				line-height: 30px;
				padding-left: 30px;
				border-left: 4px solid $textread;
				letter-spacing: 2px;
				font-weight: 700;
				cursor: pointer;
				margin-bottom: 50px;
              &:hover{
                color: $textspan;
                border-left: 4px solid $textspan;
              }
			}
		}
		.text_mimusic{
			font-size: 36px;
			max-width: 80%;
			line-height: 48px;
			color: #7c8092;
			p{
				border-left: 2px solid #33cbcc;
				padding-left: 50px;
				font-weight: 400;
				font-style: italic;
				margin-bottom: 50px;
			}
			a{
				color:#1b2550;
				display: inline;
				margin-left: 35px;
				text-transform: uppercase;
			}
			img{
				width: 48px;
				height: 48px;
				border-radius: 50%;
				display: inline;
				vertical-align: middle;
			}
		}
		.mode_width{
			max-width: 50%;
		}
		.mode_padding{
			padding: 0;
		}
	}	
}
.im_border{
	img{
		position: relative;
		z-index:30;
	}
	position: relative;
	z-index:20;
	&:before{
		content:"";
		position: absolute;
		background: $color;
		width:530px;
		left: 0;
		height:100%;
		top: -10px;
		right:-10px;
		z-index:10;
	}
	&:after{
		content:"";
		position: absolute;
		background: #1b2550;
		width:540px;
		left: 0;
		height:100%;
		top: -20px;
		right:-20px;
	}
}

.mode_disp{
	@include flexbox;
	@include justify-content(space-between);
}
//Block read more content news
#mode_content{
	display:none;
}
//Block-listen
#listentwo{
  display:none;
}
.albums_btn{
  cursor: pointer;
}
  .listen {
    padding: 400px 0 360px;
    background: url(../img/bglisten.png) repeat-x  top center;
    text-align: center;
    background-size:cover;
    position: relative;
    z-index: 10;
	h3{
		margin-bottom: 30px;
        margin-top: 300px;
		span{
			text-transform: uppercase;
			font-weight: bold;
		}
		&:after{
			left: 50%;
			@include translate(-50%, 0%);
		}
		p{
			font-size: 20px;
			color: #778fc3;
			line-height: 42px;
			font-family: $family_two;
			font-weight: 300;
		}
	}
	.listen_content{
		@include flexbox;
		@include justify-content(space-around);
		padding: 100px 0 20px;
		.albumn_listen{
			margin-bottom:30px;
			border-radius: 5px;
			position: relative;
			font-weight:700;
			max-width:430px;
			z-index:2;
            transition: all 0.3s ease 0s;

            .overlay{
              position: absolute;
              left: 0;
              right: 0;
              max-width: 100%;
              height: 100%;
              top: 0;
              font-size: 100px;
              text-align: center;
              display: none;
              i{
                transition: all 0.3s ease 0s;
                position: absolute;
                display: block;
                top:50%;
                left:50%;
                @include translate(-50%, -50%);
              }
            }
			img{
				border-radius: 5px;
			}
          &:hover{
            -webkit-box-shadow: 0 0 10px 5px rgba(137,64,132,1);
            -moz-box-shadow: 0 0 10px 5px rgba(137,64,132,1);
            box-shadow: 0 0 10px 5px rgba(137,64,132,1);
          }
          &:hover .overlay{
            display: block;
          }
		}

		.listen_mode{
			position: relative;
			&:before{
				content:"";
				position: absolute;
				top: 0;
				width: 8px;
				height:270px;
				left: 90px;
				background: $color;
			}
			&:after{
				content:"";
				position: absolute;
				bottom: 0;
				width: 9px;
				height:62px;
				left: 186px;
				background: $color;
			}
		}
		.listen_text{
			text-align: left;
			position: absolute;
			left: 0;
			text-transform: uppercase;
			bottom: 50px;
			font-size: 54px;
			line-height: 65px;
			padding: 0 50px;
		}
	}
	.mode_text{
   		position: absolute;
    	top: 50%;
    	left: 50%;
    	font-size: 54px;
		line-height: 65px;
		text-transform: uppercase;
		@include translate(-50%, -50%);
		width:100%;
		span{
			display:block;
			font-size:24px;
			font-weight:300;
			letter-spacing:5px;
			margin-top: 90px;
		}
	}
}
/*****parallax*****/
.mod_par{
	padding-left:160px;
}
/*****parallax end*****/
/*****Social Blog*****/
.social_bottom{
  background: url(../img/background2social.png) no-repeat center top;
  position: relative;
  margin-top: -226px;
  padding: 170px 0 330px;
  background-size: cover;
  z-index: 5;
	.nav_bottom {
        width:10%;
		h3{
			max-width: 10%;
		}
		nav{
			margin-top: 30px;
		}
		ul li{
			margin-bottom: 40px;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 2px;
		}
		ul li a:hover{
			color: $textspan;
		}
	}
}

.grid{
  width: 100%;
  margin: 0 auto;
  display: block;
}

.grid-item{
	width: 370px;
}

.social_content{
	@include flexbox;
	@include justify-content(space-between);
	 padding: 0 100px;
}
.info_mini{
	padding: 30px;
	background:rgba(92,77,102, 0.7);
	border-radius: 5px;
	margin-bottom: 10px;
    height: 230px;
    display: block;
	p{
		font-size: 26px;
		line-height:36px;
		margin-bottom:30px;
		font-weight: 600;
	}
	.img_blog{
		margin-right: 20px;
	}	
}


.info_blog{
	@include flexbox;
	@include justify-content(flex-start);
	vertical-align: middle;
		
	span{
	display: block;
	line-height: 24px;
	color: #778fc3;	
	}
	.mi{
	text-transform: uppercase;
	color: $color;
	}
	i{
		border-radius: 2px;
		padding: 20px;
		text-align: center;
	}
}


.info_big{
	background:rgba(92,77,102, 0.7);
	border-radius: 5px;
	margin-bottom: 10px;
    height: 645px;
	.mod_a{
		color: $texta;
	}


  .fb-comment-embed{
    line-height: 30px;
    position: relative;
    padding: 10px 10px;
    background-color: rgba(255,255,255, 0.9);
    left: 50%;
    z-index: 30;
    width: 100%;
    margin-bottom: 10px;
    @include translate(-50%,0);
  }
	.info_blog{
		padding: 10px 20px 50px;
		.img_blog{
			margin-right: 20px;
		}
	}
}

.top_padding{
	margin-top: 160px;
}
.instagram{
	background: $textspan;
}
.youtube{
	background: $textspan;
}
.facebook{
	background: $textread;
}
.twitter{
	background: $line;
}
.height_tw{
  height: 660px;
}
/*****Footer*****/
.sign{
  position: relative;
  margin-top: -290px;
  padding: 300px 0 50px;
  background: url(../img/Backgroundfooter.png) no-repeat bottom;
  background-size: cover;
  text-align: center;
  z-index: 10;
  clear: top;

    h3{
        margin-top: 100px;
		margin-bottom: 30px;
		span{
			text-transform: uppercase;
			font-weight: bold;
		}
		&:after{
			left: 50%;
			@include translate(-50%, 0%);
		}
	}
	p{
		margin-bottom: 100px;
	}
	form{
		max-width: 400px;
		margin: 0 auto;

		input{
			display: block;
			width: 400px;
			margin-top: 50px;
			outline: none;
			background: none;
			border: none;
			border-bottom: 1px solid $color;
			color: $color;
			font-weight: bold;
			padding-bottom: 20px;
			&::placeholder{
				color: $color;
				text-transform: uppercase;
				letter-spacing: 1.5px;
			}
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  				color: $color;
				text-transform: uppercase;
				letter-spacing: 1.5px;
			}
			&::-moz-placeholder { /* Firefox 19+ */
  				color: $color;
				text-transform: uppercase;
				letter-spacing: 1.5px;
			}
			&:-ms-input-placeholder { /* IE 10+ */
  				color: $color;
				text-transform: uppercase;
				letter-spacing: 1.5px;
			}
			&:-moz-placeholder { /* Firefox 18- */
  				color: $color;
				text-transform: uppercase;
				letter-spacing: 1.5px;
			}
			&:required:valid {
				border-color: $texta;
				background-image: url(/pro/img/check.png) no-repeat right top;
			}
		}

		input[type=submit]{
			background: none;
			border: 1px solid #9497a1;
			padding: 20px 140px;
			color: $color;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 2px;
            transition: all 0.3s ease 0s;
            cursor: pointer;
          &:hover{
            background-color:$colorhoverbtn;
            border-color:$colorhoverbtn;
          }
		}
	}
	.footer_menu{
		margin-top: 200px;
		text-align: center;
			.logo{
			font-size: 36px;
			font-weight: 700;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			span{
				position: relative;
				text-align: center;
				background: $textread;
				padding: 15px 20px;
			}

		}
		.top_nav {
			@include flexbox;
			@include justify-content(center);
			@include align-items(center);
			@include flex-direction(column);
			margin-top: 65px;
			nav ul li{
				display: inline-block;
				margin-right: 5px;
				margin-left: 5px;
				padding: 0 10px;
				position: relative;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: bold;
			}
			a{
				color: $textfooter;
                transition: all 0.3s ease 0s;
				&:hover{
					color: $color;

				}
			}
			.social nav ul{
				margin-top: 40px;
			}
		}
	}
  .error {
    margin: 10px 0;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    color: red;
  }
}

//hamburger
// mmenu
#my-icon {
  display: none;
}
.mm-menu {
  z-index: 10;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  .mm-navbar{
    font-size: 26px;
    line-height: 26px;
    a{
      color: $color;
    }
  }

  .fab:hover{
    color:#FDE910;
  }
  .mm-navbar__title{
    line-height: 26px;
  }
  .mm-listitem{
    line-height: 40px;
    font-size: 26px;
    &:hover{
      color:#FDE910;
    }
    &:first-child{
      padding-top: 25px;
    }
  }
}
.hamburger {
  z-index: 200;
  outline: 0;
  position: absolute;
  top: -5px;
  right: 10px
}
.hamburger .hamburger-inner{
  background: $color;
  height:6px;
  &:before{
    background: $color;
    height:6px;
  }
  &:after{
    background: $color;
    height:6px;
  }
}
//youtube
.video{
  text-align: center;
  background: url(../img/youtube.png) repeat-x top;
  padding: 40px 50px 30px;
  border-radius: 5px;
  position: absolute;
  display: none;
  left: 50%;
  top: 25%;
  z-index: 30;
  transition: all 0.3s ease 0s;
  @include translate(-50%,0);
  .mode_disp{
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    margin-bottom: 20px;
  }
  article {
    @include flexbox;
    padding: 5px;
    border: 2px solid white;
    border-radius: 8px;
    color:$textcolor;
    background-color:$color;
    @include align-items(center);
    margin: 5px auto;
    font-size: $fontsize_two;
    &:hover {
      border: 2px solid #ff9999;
    }
    h4{
      font-weight: 700;
      margin-left:10px;
    }
  }
  .logo{
    font-size: 36px;
    letter-spacing: 2.5px;
    vertical-align:middle;
    text-transform: uppercase;
    span{
      position: relative;
      text-align: center;
      background: $textread;
    }
  }
  .fa-times{
    font-size: 42px;
    &:hover{
      color:$textread;
    }
  }
}

.thumb {
  height: 70px;
  border-radius: 4px;
}
.details {
  padding: 8px 22px;
}


//media
@media (max-width:1400px) {
  .item-sl .header_text{
    position: absolute;
    top:40%;
    left:50%;
    @include translate(-50%,-40%);
    z-index: 100;
    h1{
      font-size: 36px;
      line-height: 60px;
    }
  }
  .slick-dots span{
    margin: 0 0 30px 0;
  }
}
@media (max-width:1300px) {
  .im_border{
    &:before{
      display: none;
    }
    &:after{
      display: none;
    }
  }
  .listen {
    padding: 460px 0 160px;
    h3{
      margin-top: 30px;
    }
  }
  .listen_content{
    padding: 30px 0;
  }
  .sign {
    margin-top: -280px;
    padding: 200px 0 50px;
  }
  .sign h3 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .parallax{
    display: none;
  }
  .news{
    padding: 20px 0 20px;
  }
  .news .news_content .news_info {
    padding: 20px 0 20px;
  }
  .mod_par{
    padding-left:100px;
  }
}
@media (max-width:1230px) {
  .video {
    padding: 40px 5px 30px;
    h4{
      font-size: $fontsize;
    }
  }
  .slick-dots {
    top:35%;
    right: 5px;
    @include translate(0,-35%);
  }
  .social_content{
    display:block;
    .nav_bottom {
      width:100%;
      text-align: center;
      h3{
        max-width: 100%;
        margin:0 auto;
        &:after{
          left: 50%;
          @include translate(-50%, 0%);
        }
      }
      nav{
        margin: 30px 0 30px;
      }
      ul li{
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 0;
      }
    }
  }
  .grid{
    width: 100%;
    margin: 0 auto;
  }
  .top_padding {
    margin-top: 0;
  }
  .listen .listen_content .albumn_listen {
    max-width: 300px;
  }
  .listen .listen_content .listen_mode{
    position: relative;
    &:before{
      content:"";
      position: absolute;
      top: 0;
      width: 8px;
      height:80px;
      left: 90px;
      background: $color;
    }
    &:after{
      content:"";
      position: absolute;
      bottom: 0;
      width: 7px;
      height:62px;
      left: 188px;
      background: $color;
    }
  }
}

@media (max-width:1080px) {
  .video iframe{
    max-width: 600px;
  }
  .sl-container{
    &:after{
      border-bottom: 120px solid $color;
      border-right: 100vmax solid transparent;
    }
  }
  .first_nav{
    display:none;
  }
  #my-icon {
    display: block;
  }
  header .logo {
    font-size: 32px;
    letter-spacing: 2.5px;
    position:relative;
    top:-50px;
  }
  h3{
    font-size: 48px;
  }
  .news{
    h3{
      max-width: 100%;
      margin:0 auto;
      &:after{
        left: 50%;
        @include translate(-50%, 0%);
      }
    }
    .news_content{
      @include flex-direction(column);
      text-align: center;
      .news_info{
        padding: 30px 0 30px;

        img{
          max-width: 400px;
          margin: 20px auto;
        }
        h4{
          font-size: 28px;
          line-height: 48px;
        }
        p{
          margin: 20px 0;
          max-width: 90%;
          text-align: left;
        }
        a{
          max-width: 300px;
          margin: 10px auto;
        }
      }
      .text_mimusic{
        max-width: 100%;
        p{
          margin-bottom: 30px;
        }
      }
      .mode_width{
        max-width: 100%;
      }
      .mode_padding{
        padding: 0;
      }
    }
  }
  .grid-item {
    width: 280px;
  }
  .info_mini p {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .info_big{
    margin-bottom: 10px;
    .info_blog{
      padding: 0 30px 30px;
      .img_blog{
         margin-right: 20px;
       }
    }
  }
  .info_mini {
    padding: 20px;
    margin-bottom: 10px;
  }
  .listen .listen_content .albumn_listen {
    max-width: 240px;
    font-size: 10px;
  }
  .mod_par{
    padding-left:40px;
  }
  .listen .listen_content .listen_text {
    bottom: 50px;
    font-size: 32px;
    line-height: 40px;
    padding: 0 40px;
  }
  .listen .mode_text {
    font-size: 32px;
    line-height: 40px;
  }
  .listen .mode_text span {
    font-size: 24px;
    margin-top: 20px;
  }
  .listen .listen_content .listen_mode{

    position: relative;
    &:before{
      content:"";
      position: absolute;
      top: 0;
      width: 4px;
      height:121px;
      left: 82px;
      background: $color;
    }
    &:after{
      content:"";
      position: absolute;
      bottom: 0;
      width: 3px;
      height:60px;
      left: 122px;
      background: $color;
    }
  }
  .item-sl .header_text{
    position: absolute;
    top:30%;
    left:50%;
    @include translate(-50%,-30%);
    z-index: 100;
    h1{
      font-size: 26px;
      line-height: 38px;
    }
  }
  .height_tw{
    height: 550px;
  }
}
@media (max-width:780px) {
  .video iframe{
    max-width: 420px;
    height: 300px;
  }
  .video article{
    @include flex-direction(column);
  }
  .video article img{
    width: 200px;
    height: 100px;
  }
  .item-sl .header_text {
    position: absolute;
    top: 30%;
    left: 50%;
    @include translate(-50%, -30%);
    h1 {
      font-size: 26px;
      line-height: 32px;
    }
  }
  .btn {
    margin: 20px 0 30px;
    font-weight: bold;
    padding: 0 30px;
  }
  .news{
    padding: 10px 0 10px;
  }
  .listen_content{
    @include flex-direction(column);
    @include align-items(center);
  }
  .rellax{
    display: none;
  }
  .listen .listen_content .albumn_listen {
    max-width: 300px;
    &:hover{
      -webkit-box-shadow: 0 0 10px 5px rgba(137,64,132,1);
      -moz-box-shadow: 0 0 10px 5px rgba(137,64,132,1);
      box-shadow: 0 0 10px 5px rgba(137,64,132,1);
    }
  }
  .listen .listen_content .listen_mode{
    position: relative;
    &:before{
      content:"";
      position: absolute;
      top: 0;
      width: 4px;
      height:190px;
      left: 82px;
      background: $color;
    }
    &:after{
      content:"";
      position: absolute;
      bottom: 0;
      width: 3px;
      height:60px;
      left: 122px;
      background: $color;
    }
  }

  .listen {
    padding: 30px 0 60px;
    background: none;
    background-color: #1b2550;
    p {
      margin-bottom: 20px;
    }
    .listen_content {
      padding: 0;
    }
  }

  .social_bottom{
    margin-top: -80px;
    padding: 100px 0 300px;
  }
  .grid-item {
    width: 240px;
  }
  .info_mini p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .info_big{
    margin-bottom: 10px;
    height: 630px;
    .info_blog{
      padding: 0 20px 10px;
      .img_blog{
        margin-right: 20px;
      }
    }
  }
  .sign {
    margin-top: -200px;
    padding: 140px 0 30px;
  }
  .sign h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .sign p {
    margin-bottom: 20px;
  }
  .sign .footer_menu {
    margin-top: 100px;
  }
  .sign form {
    max-width: 320px;
  }
  .sign form input {
    width: 320px;
  }
  .sign form input[type=submit] {
    padding: 20px 100px;
  }
  h3{
    font-size: 32px;
  }
  .nav_bottom {
    width:100%;
    text-align: center;
    nav{
      margin: 30px 0 30px;
    }
    ul li{
      margin-right: 3px;
      margin-left: 3px;
      font-size: 14px;
    }
  }
  .height_tw{
    height: 525px;
  }
}
@media (max-width:690px) {

  .item-sl .header_text {
    position: absolute;
    top: 20%;
    left: 50%;
    @include translate(-50%, -20%);
    h1 {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .news .news_content .news_info img {
    max-width:300px;
  }
  header .logo {
    font-size: 20px;
    letter-spacing: 2.5px;
    position:relative;
    top:-40px;
  }
  .sl-container{
    &:after{
      border-bottom: 90px solid $color;
      border-right: 100vmax solid transparent;
    }
  }
  .slick-dots span{
    margin: 0 0 10px 0;
  }
}
@media (max-width:500px) {
  .video iframe{
    max-width: 320px;
  }
  .item-sl .header_text {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 85%;
    @include translate(-50%, -30%);
    h1 {
      font-size: 18px;
      line-height: 20px;
    }
  }
  .info_mini p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .info_big{
    margin-bottom: 10px;
    img{
      margin-bottom: 10px;
    }
    p{
      padding: 20px 5px;
    }
    .info_blog{
      padding: 0 10px 5px;
      p {
        font-size: $fontsize;
        line-height: 26px;
        padding: 15px 5px;
      }
    }
  }
  .info_mini {
    padding: 20px 5px;
    margin-bottom: 10px;
  }
  .sign form {
    max-width: 260px;
  }
  .sign form input {
    width: 260px;
  }
  .sign form input[type=submit] {
    padding: 20px 50px;
  }
}
@media (max-width:380px) {
  .grid-item {
    margin-left: -50px;
  }
  .sl-container{
    position: relative;
    overflow: hidden;
    &:after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 100px solid $color;
      border-right: 60vmax solid transparent;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
  }
}
