$color: #fff;
$textcolor:#303342;
$textp:#7c8092;
$textread:#032c9e;
$texthover: #ee4f6c;
$colorhoverbtn:#894084;
$line:#33cbcc;
$texta:#6aff7f;
$textfooter:#48547c;
$textspan:#fb516e;
$family: 'Barlow', sans-serif;
$family_two:'Roboto', sans-serif;
$fontsize: 16px;
$fontsize_two: 18px;



